.layout {
  overflow: hidden;
  position: relative;
}

.animate-show,
.animate-hide {
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.animate-show {
  opacity: 0;
}

.animate-show.animate-show-active {
  opacity: 1;
}

.animate-hide {
  opacity: 1;
}

.animate-hide.animate-hide-active {
  opacity: 0;
}

#mainImageHolder {
  position: relative;
}

.mainImage {
  position: absolute;
}

.prodRepeater {
  height: 100%;
  position: absolute;
  width: 100%;
}

.productDetails {
  position: relative;
}

.change {
  -webkit-transition: opacity 0.8s linear, z-index 0.3s linear;
  transition: opacity 0.8s linear, z-index 0.3s linear;
  z-index: 50;
}

.change.invisible {
  opacity: 0;
  z-index: 0;
}

.fast {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.productImage {
  position: relative;
}

.productImage img {
  display: block;
}

.button {
  display: inline-block;
  max-width: 80%;
}

.button span {
  width: 100%;
}

.button.text {
  background: none;
  border: none;
  box-shadow: none;
}

.button.text.shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.button.text.bevel {
  box-shadow: none;
}

.background.gradient {
  background: none;
}

.bevel {
  -moz-box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset;
  -webkit-box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset;
}

.shadow {
  -moz-box-shadow: 0 2px 2px #333;
  -webkit-box-shadow: 0 2px 2px #333;
  box-shadow: 0 2px 2px #333;
}

.shadow.bevel {
  -moz-box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset, 0 2px 2px #333;
  -webkit-box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset, 0 2px 2px #333;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset, 0 2px 2px #333;
}

.productPrice,
.productSalePrice {
  padding: 0 2px;
}

.button.text span {
  padding: 0 2px;
}

.logo img {
  display: block;
}

.productPriceStrike {
  font-size: 100%;
}
